<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/master}">
<head>
    <title>Inicio - Sabor Gourmet</title>
</head>
<body>
    <div layout:fragment="page-content">
        <div class="container bg-primary text-white p-4 mt-4 rounded text-center">
            <!-- Contenido de la sección -->
            <h1>Bienvenido a Sabor Gourmet</h1>
            <p>¡Disfruta de una experiencia única en nuestro restaurante!</p>
        </div>
    </div>
</body>
</html>
